<a href="{{ url }}">
    <div class="image">
        {{ content.field_image_verical }}
        <div class="overlay">
            <div class="button">{{ "Order tickets"|t }}</div>
        </div>
    </div>
    <div class="text">
        {% set text = label|render|striptags|truncate(43, true, '...') %}
        <div class="title">{{ label|render|striptags }}</div>
        <div class="tags">
            {{ content.field_genre }}
        </div>
    </div>
</a>

