<div class="right">
    {% if content.field_online['#items'].value==1 or content.field_subscribe['#items'].value==1%}
        <div class="tags flex vertical-center pointer-between">
            {% if content.field_online['#items'].value==1 %}
                <div class="online">{{ content.field_online }}</div>
            {% endif %}
            {% if content.field_subscribe['#items'].value==1 %}
                <div class="subscribe">{{ content.field_subscribe }}</div>
            {% endif %}
            {% if content.field_tab['#items'].value==1 %}
                <div class="tab-free">{{ content.field_tab }}</div>
            {% endif %}
        </div>
    {% endif %}
    <div class="title">{{ label }}</div>
    <div class="link simple-button"><a href="{{ url }}">{{ "For more details"|t }}</a></div>
</div>
<div class="left">
    <a href="{{ url }}">{{ content.field_image_horizontal }}</a>
</div>