{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('node__content') }}>
    <div class="right-area">
        <div class="image">
            {% if content.field_trailer|render %}
                <div class="withtrailer">
                    {{ content.field_image_horizontal }}
                    {{ content.field_trailer }}
                </div>
            {% else %}
                {{ content.field_image_horizontal }}
            {% endif %}
        </div>
        <div class="only-desktop">
          <div class="tags flex vertical-center pointer-between">
              {{ content.field_minutes }}
              {{ content.field_language }}
              {{ content.field_translation }}
              {{ content.field_year }}
              {{ content.field_genre }}
          </div>
          {{ content.body }}
          {{ content.field_directedby }}
          {{ content.field_actors }}
        </div>
    </div>
    <div class="left-area">
        <div class="last-screening">{{ drupal_view('screeing_movie', 'block_2') }}</div>
        <h1 class="page-title">{{ label }}</h1>
        <div class="price flex vertical-center pointer-between">
            {{ content.field_price }}
            {% if content.field_online['#items'].value==1 and content.field_subscribe['#items'].value==1%}
              </div>
              <div class="price online-subscribe flex vertical-center pointer-between">
            {% endif %}
            {% if content.field_online['#items'].value==1 %}
              <div class="online">{{ content.field_online }}</div>
            {% endif %}
            {% if content.field_subscribe['#items'].value==1 %}
              <div class="subscribe">{{ content.field_subscribe }}</div>
            {% endif %}
        </div>
        {% if content.field_tab['#items'].value==1 %}
          <div class="tab-free">{{ content.field_tab }}</div>
        {% endif %}
        {% if content.field_order_tickets|render %}
            {% if drupal_view_result('screeing_movie', 'block_1')|length != "0" %}
              <div class="linkbuy"><a href="{{ content.field_order_tickets[0]['#url'] }}">{{ "Order tickets"|t }}</a></div>
            {% else %}
              <div class="no-screening">{{ "There are no screening dates"|t }}</div>
            {% endif %}
        {% endif %}
        <div class="screening">
            {{ drupal_view('screeing_movie', 'block_1') }} 
        </div>
    </div>
    <div class="only-mobile content-area">
      <div class="tags flex vertical-center pointer-between">
        {{ content.field_minutes }}
        {{ content.field_language }}
        {{ content.field_translation }}
      </div>
      <div class="tags flex vertical-center pointer-between">
        {{ content.field_year }}
        {{ content.field_genre }}
      </div>
      {{ content.body }}
      {{ content.field_directedby }}
      {{ content.field_actors }}
    </div>
  </div>

</article>
{% if content.field_type['#items'] and "event" in content.field_type['#items']|column('value') %}
    <div class="recomended-movie">
      <div class="recomended-label width-wrapper">{{ "More Events"|t }}</div>
      {{ drupal_view('movies', 'block_9') }} 
    </div>
{% else %}
    <div class="recomended-movie">
      <div class="recomended-label width-wrapper">{{ "Movies of the month"|t }}</div>
      {{ drupal_view('movies', 'block_5') }} 
    </div>
{% endif %}