<div class="group">
    {% if title %}
    {{ title }}
    {% endif %}
    <div class="views-row-wrapper">
        {% for row in rows %}
            {%
                set row_classes = [
                default_row_class ? 'views-row',
                ]
            %}
            <div{{ row.attributes.addClass(row_classes) }}>
                {% set now = current_time  %}
                {% set movietime = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_date_2 }}'] %}
                {% set type = row.content['#row']._entity.type.0.target_id %}
                {% if type!="movie" %}
                    <div class="no-activities">
                        <div class="views-field-title"><div class="title">{{ "No activitie"|t }}</div></div>
                    </div>
                {% else %}
                    {{- row.content -}}
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>