{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'paragraph--id--' ~ paragraph.id(),
    content.field_banner_height|render ? 'auto-banner',
  ]
%}
{% block paragraph %}
  {% if content.field_banner_height|render %}
    <div{{ attributes.addClass(classes) }}>
    {{ content.field_bg}}
  {% else %}
    <div{{ attributes.addClass(classes) }} style="background: url('{{ file_url(content.field_bg.0['#item'].entity.fileuri) }}') no-repeat; background-size: cover;">
  {% endif %}
    {% block content %}
        {% if content.field_all_banner_link|render %}
            <a href="{{ content.field_all_banner_link[0]['#url'] }}">
              <div class="width-wrapper">{{ content|without('field_bg', 'field_banner_height', 'field_all_banner_link','field_link') }}</div>
            </a>
        {% else %}
          <div class="width-wrapper">
              {{ content|without('field_bg', 'field_banner_height', 'field_all_banner_link') }}
          </div>
        {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
