{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'paragraph--id--' ~ paragraph.id(),
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content.field_contact_details }}
      <div class="gmap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3401.003690983872!2d34.59398037561167!3d31.52405857421231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15028154af5d1e1d%3A0x785578640be5ea0a!2sSderot%20Cinematheque!5e0!3m2!1she!2sil!4v1764768542418!5m2!1she!2sil" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="webform-wrapper">
        <div class="width-wrapper">
          {{ content.field_title }}
          {{ content.field_subtitle }}
          {{ content.field_webform }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
