{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="form--inline clearfix">
  <div class="first-line">
    <div class="wrapper">
      {{ form.title }}
  	  {{ form.actions }}
    </div>
  </div>
    <div class="second-line">
      <div class="wrapper">
        <div class="date-range js-form-item">
          <label>
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.9688 2.84622H16.8906V2.15625C16.8906 1.75932 16.5688 1.4375 16.1719 1.4375C15.7749 1.4375 15.4531 1.75932 15.4531 2.15625V2.84622H7.54688V2.15625C7.54688 1.75932 7.22505 1.4375 6.82812 1.4375C6.4312 1.4375 6.10938 1.75932 6.10938 2.15625V2.84622H5.03125C3.04977 2.84622 1.4375 4.4585 1.4375 6.43997V17.9688C1.4375 19.9502 3.04977 21.5625 5.03125 21.5625H17.9688C19.9502 21.5625 21.5625 19.9502 21.5625 17.9688V6.43997C21.5625 4.4585 19.9502 2.84622 17.9688 2.84622ZM2.875 6.43997C2.875 5.25095 3.84222 4.28372 5.03125 4.28372H6.10938V4.97334C6.10938 5.37027 6.4312 5.69209 6.82812 5.69209C7.22505 5.69209 7.54688 5.37027 7.54688 4.97334V4.28372H15.4531V4.97334C15.4531 5.37027 15.7749 5.69209 16.1719 5.69209C16.5688 5.69209 16.8906 5.37027 16.8906 4.97334V4.28372H17.9688C19.1578 4.28372 20.125 5.25095 20.125 6.43997V7.16574H2.875V6.43997ZM17.9688 20.125H5.03125C3.84222 20.125 2.875 19.1578 2.875 17.9688V8.60324H20.125V17.9688C20.125 19.1578 19.1578 20.125 17.9688 20.125Z" fill="#6A6A6A"/><path d="M14.7886 12.0791L13.6091 11.9079C13.5512 11.8994 13.5013 11.8633 13.4757 11.811L12.9482 10.742C12.6741 10.1868 12.1193 9.8418 11.5002 9.8418C10.8811 9.8418 10.3263 10.1868 10.0522 10.742L9.52468 11.811C9.49906 11.8633 9.44923 11.8994 9.39167 11.9079L8.21177 12.0791C7.59901 12.1683 7.09995 12.5891 6.90833 13.1779C6.71707 13.7668 6.87359 14.401 7.31684 14.833L8.17071 15.6658C8.21247 15.7062 8.23142 15.7645 8.22125 15.822L8.02015 16.9967C7.91522 17.607 8.16123 18.2124 8.66239 18.5763C8.94561 18.782 9.27656 18.8862 9.60961 18.8862C9.86616 18.8862 10.1241 18.8244 10.3624 18.6991L11.4177 18.1443C11.469 18.1169 11.5307 18.1169 11.5827 18.1443L12.6376 18.6988C13.1858 18.9869 13.8372 18.9402 14.338 18.5763C14.8392 18.2124 15.0852 17.607 14.9806 16.997L14.7791 15.822C14.769 15.7645 14.7879 15.7062 14.83 15.6651L15.6835 14.833C16.1268 14.401 16.2833 13.7668 16.092 13.1779C15.9004 12.5891 15.4014 12.1683 14.7886 12.0791ZM13.8267 14.6355C13.4459 15.0064 13.2721 15.5406 13.362 16.0649L13.5638 17.2402C13.5789 17.3297 13.534 17.3838 13.4932 17.4132C13.4525 17.4427 13.3862 17.4683 13.3069 17.4266L12.2516 16.8717C11.7813 16.6246 11.2191 16.6246 10.7488 16.8717L9.69314 17.4269C9.61242 17.4683 9.54785 17.4427 9.50713 17.4132C9.46642 17.3838 9.4215 17.3297 9.43694 17.2399L9.63839 16.0649C9.72823 15.5406 9.55451 15.0064 9.17408 14.6362L8.32057 13.804C8.25529 13.7402 8.2602 13.67 8.27564 13.6223C8.29109 13.5745 8.32829 13.5149 8.41813 13.5019L9.59838 13.3306C10.1245 13.2538 10.5789 12.9235 10.8141 12.4469L11.3416 11.3779C11.3816 11.2965 11.45 11.2793 11.5002 11.2793C11.5504 11.2793 11.6188 11.2965 11.6588 11.3779L12.1863 12.4469C12.4214 12.9235 12.8759 13.2538 13.4024 13.3306L14.5823 13.5019C14.6721 13.5149 14.7093 13.5745 14.7247 13.6223C14.7402 13.67 14.7451 13.7402 14.6798 13.804L13.8267 14.6355Z" fill="#6A6A6A"/></svg>
            {{ "Date"|t }}
          </label>
          <div class="input">
            <div class="all">{{ "All"|t }}</div>
            <input type="text" name="daterange" value="" readonly="readonly" />
            <div class="empty"></div>
          </div>
        </div>
        {{ form|without('actions','title','field_subscribe_value','field_online_value_1') }}
      </div>
    </div>
</div>
